
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.btn_pay{background: #054d9a;
  color: #fff;
  font-size: 15px;
  text-transform: uppercase;
  padding: 6px 12px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  float: left;
  box-shadow: 0 10px 15px rgba(0,0,0,0.2);
  position: relative;}