/*invoice page start*/
.invoice_section caption{
    font-size:28px;
    margin-bottom:15px;
}
.invoice_section table{
    border:1px solid #333;
    border-collapse:collapse;
    margin:0 auto;
}
.invoice_section table td, tr, th{
    padding:5px!important;
    border:1px solid #333;
    width:185px;
    color: black;
}
.invoice_section th{
    background-color: #f0f0f0;
}
.invoice_section h4, p{
    margin:0px;
}
.table tbody tr td {
    border: 1px solid #ddd !important;
    text-align: center;
}
.table_body_modify .heading_2 {
    font-size: 40px;
    font-weight: 700;
}