/**=====================
      Responsive CSS Start
==========================**/
/* ========= min and max scss for 1200 to 1366 screen ========= */
@media screen and (max-width: 1580px) and (min-width: 1200px) {
  .docs-buttons, .docs-toggles {
    flex: 0 0 100%;
    max-width: 100%; } }
@media screen and (min-device-width: 1200px) and (max-device-width: 1366px) {
  .flot-chart-container {
    height: 300px; }

  .custom-card {
    padding: 15px; }
    .custom-card .card-profile img {
      height: 120px; }
    .custom-card .card-footer > div h6 {
      font-size: 10px; }
    .custom-card .card-footer > div h3 {
      font-size: 18px; }

  .width100 {
    max-width: 100%;
    flex: 100%; }

  .width50 {
    max-width: 50%;
    flex: 50%; }

  .social-widget .media {
    padding: 5px 5px; }

  .classic-layout .thin-bar-chart .flot-chart-container {
    height: 100px;
    margin-top: -15px; }
  .classic-layout .thin-bar-chart .content {
    float: none !important;
    text-align: center !important;
    margin-top: 10px; }
  .classic-layout .thin-bar-chart .inner {
    margin-top: 0; }
    .classic-layout .thin-bar-chart .inner h6 {
      font-size: 12px; }
    .classic-layout .thin-bar-chart .inner h4 {
      font-size: 15px; }
  .classic-layout .status-monthly-chart .chart-container {
    height: 235px; }
  .classic-layout .product-sale-chart {
    height: 445px !important; }
  .classic-layout .status-yearly-chart {
    margin-top: -20px !important; }

  .chat-body {
    padding: 10px; }

  .chat-box .chat-menu .tab-pane {
    padding: 10px; }
  .chat-box .user-image {
    width: 25px;
    height: 25px;
    margin-top: 3px;
    margin-right: 3px; }
  .chat-box .about {
    margin-top: 0; }
    .chat-box .about .name {
      font-size: 12px; }
  .chat-box .nav-material.nav-tabs .nav-item a {
    padding: 13px 4px !important;
    color: #aaaaaa !important;
    letter-spacing: 0;
    font-size: 12px !important;
    height: 95px;
    line-height: 6; }
  .chat-box .chat-right-aside {
    flex: 0 0 70%;
    max-width: 70%; }
    .chat-box .chat-right-aside .chat .chat-message {
      margin: 0 25px !important; }
      .chat-box .chat-right-aside .chat .chat-message .smiley-box {
        width: 45px; }
  .chat-box .chat-menu {
    flex: 0 0 30%;
    max-width: 30%; }

  .business-card table {
    margin-left: 15px; }

  .business-top-widget .media .total-value {
    font-size: 24px; }
  .business-top-widget .media i {
    font-size: 55px; }

  .blog-box .blog-details-main .blog-bottom-details {
    margin: 10px 10px; }
  .blog-box .blog-details-main .blog-social li {
    padding: 0px 10px; }

  .blog-bottom-content {
    display: none; }

  .blog-box.blog-shadow .blog-details {
    padding: 10px; } }
/* ========= min and max scss for 992 to 768 screen ========= */
@media screen and (min-device-width: 768px) and (max-device-width: 992px) {
  .vertical-layout .crm-overall .flot-chart-placeholder {
    height: 280px; }

  .modern-layout .page-body-wrapper .page-body .top-charts {
    margin-top: -180px !important; } }
/* ========= responsive scss for 1366 screen ========= */
@media only screen and (max-width: 1366px) {
  .authentication-main .auth-innerleft, .authentication-main .auth-innerright {
    padding: 20px 50px;
    background-size: cover; }

  .grp-btns {
    display: inline-block; }

  .button-builder .button-generator-bx {
    position: relative;
    width: 100%; }

  .page-builder .btn-group {
    display: inline-block;
    margin-bottom: 10px; }
  .page-builder .btn-grid {
    margin-bottom: 15px;
    margin-right: 0px;
    border-right: none;
    display: inline-block; }
  .page-builder .ge-canvas.ge-layout-desktop {
    margin-top: 60px; }

  .business-card .logo {
    width: 90px; }

  .ecommerce-widget .total-num {
    font-size: 23px;
    letter-spacing: 0px; }

  .crm-numbers .col + .col {
    border-left: 1px solid transparent; }

  .whether-widget .whether-widget-bottom p {
    font-size: 13px; }
  .whether-widget .whether-widget-bottom svg {
    width: 35px;
    height: 35px; }

  .crm-numbers .col h3 {
    font-size: 23px; }

  .stat-widget-dashboard .media img {
    width: 30px; }
  .stat-widget-dashboard h3 {
    font-size: 25px; }
  .stat-widget-dashboard h6 {
    font-size: 14px; }

  .default-widget-count h3 {
    font-size: 20px; }
  .default-widget-count p {
    font-size: 15px;
    z-index: 1;
    position: relative; }
  .default-widget-count .left {
    width: 80px;
    height: 80px; }
    .default-widget-count .left i {
      font-size: 35px;
      line-height: 2.3; }
  .default-widget-count .icon-bg {
    font-size: 40px; }

  .default-dashboard-main-chart {
    height: 300px; }

  .custom-card .card-social li a {
    padding: 12px; }

  .map-chart .chart-container {
    height: 300px; }

  .speed-chart .chart-container {
    height: 250px;
    margin-top: -40px;
    margin-bottom: 100px; }

  .candidcahrt {
    height: 360px; }

  .support-ticket .left {
    height: 50px;
    width: 50px;
    font-size: 25px; }
  .support-ticket table td p {
    font-size: 14px;
    line-height: 2; }

  .status-details h3 {
    font-size: 18px; }

  .bar-chart canvas {
    width: 100% !important; }

  .bar-chart-widget .num {
    font-size: 19px; }

  .chart-widget-top .total-value {
    font-size: 15px; }

  .status-widget .card-body {
    padding: 10px; }

  .browser-widget {
    padding: 10px; }
    .browser-widget .media {
      flex-wrap: wrap; }
      .browser-widget .media .media-img {
        margin: 0  auto 15px; }
      .browser-widget .media .media-body h3 {
        font-size: 20px; }

  .testimonial p {
    line-height: 26px; }

  .cal-date-widget .datepicker {
    margin: 0 auto;
    padding: 0;
    width: unset; }

  .company-card {
    padding: 20px; }

  .static-top-widget .media-body h3 {
    font-size: 30px; }
  .static-top-widget .media-body .icon-bg {
    right: 0;
    font-size: 120px; }

  .widget-joins:before {
    display: none; }
  .widget-joins:after {
    display: none; }
  .widget-joins .media {
    padding: 20px; }
    .widget-joins .media .media-body h3 {
      font-size: 20px; }

  .redial-social-widget {
    width: 125px;
    height: 125px; }
    .redial-social-widget i {
      width: 100px;
      height: 100px;
      font-size: 45px; }

  .classic-layout .status-widget .status-yearly-chart {
    margin-top: 15px; }

  .svg-animation .effect-svg3 {
    top: -56%;
    right: -4%;
    transform: scale(0.4); }
  .svg-animation .effect-svg4 {
    top: 113%;
    left: -8%;
    transform: scale(0.4); }
  .svg-animation .effect-svg2 {
    transform: scale(0.4); }
  .svg-animation .effect-svg1 {
    transform: scale(0.4); }

  .modern-layout .widget-joins:before {
    display: block; }
  .modern-layout .widget-joins:after {
    display: block; }
  .modern-layout .widget-joins .media {
    padding: 50px; }
    .modern-layout .widget-joins .media .media-body h3 {
      font-size: 20px; } }
/* ========= responsive scss for 1200 screen ========= */
@media only screen and (max-width: 1199px) {
  .img-cropper #putData {
    margin-bottom: 10px; }
  .img-cropper .docs-toggles > .dropdown {
    margin-bottom: 0; }

  .error-wrapper .maintenance-icons li i {
    color: #eeeeee;
    font-size: 40px; }
  .error-wrapper .maintenance-icons li:nth-child(2) i {
    font-size: 80px;
    margin-left: 90px; }
  .error-wrapper .maintenance-icons li:nth-child(3) i {
    font-size: 120px;
    margin-top: -75px;
    margin-right: 110px; }

  div.dataTables_wrapper div.dataTables_paginate ~ .dataTables_filter {
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0; }

  .jvector-map-height {
    height: 280px; }

  .blog-list .blog-details p {
    margin-bottom: 5px; }

  .mega-menu .onhover-show-div {
    width: calc(100% - 10%);
    padding: 25px;
    height: 450px;
    overflow-x: scroll; }
  .mega-menu .mega-bg {
    display: none; }

  .button-builder .button-generator-bx {
    position: relative;
    width: 100%; }

  .blog-single .comment-box ul .comment-social {
    margin-left: 0; }

  .error-wrapper .maintenance-heading {
    margin-top: 30px; }
    .error-wrapper .maintenance-heading .headline {
      font-size: 50px;
      margin-top: -15%;
      margin-bottom: 0px; }
    .error-wrapper .maintenance-heading .cloud-second {
      margin-top: -25px; }

  .review-box {
    padding: 10px; }

  .contact-form {
    padding: 10px; }

  .crm-social i {
    font-size: 40px; }
  .crm-social h3 {
    font-size: 25px; }

  .crm-overall .overall-chart {
    height: 200px; }

  .classic-layout .product-sale-chart {
    height: 385px; }

  .modern-layout .header .vertical-menu .nav-item .nav-link {
    font-size: 12px; }
  .modern-layout .sales-report-chart .flot-chart-container {
    height: 375px; }
  .modern-layout .annual-report canvas {
    right: 0;
    width: 100% !important; }
  .modern-layout .widget-joins .media {
    padding: 35px; }

  .vertical-layout .page-body-wrapper .vertical-menu .navbar .nav-item .nav-link {
    padding: 10px;
    font-size: 12px; }

  .chat-box .chat-menu {
    border-left: none; }
  .chat-box .btn-lg {
    font-size: 12px; }
  .chat-box .people-list ul {
    height: auto; }
  .chat-box .chat-right-aside .chat .chat-header {
    height: auto; }
    .chat-box .chat-right-aside .chat .chat-header .chat-menu-icons li a i {
      font-size: 19px; }
  .chat-box .chat-right-aside .chat .chat-msg-box .message {
    width: 100%; }
  .chat-box .chat-right-aside .chat .chat-message {
    margin: 0; }
  .chat-box .chat-history {
    padding: 15px; }
    .chat-box .chat-history .total-time h2 {
      font-size: 25px; }
    .chat-box .chat-history .call-icons ul li {
      width: 30px;
      height: 30px;
      padding: 3px; }
      .chat-box .chat-history .call-icons ul li a {
        font-size: 12px; }
    .chat-box .chat-history .caller-img img {
      padding: 25px; }
  .chat-box .nav-material.nav-tabs {
    width: 100%; }
    .chat-box .nav-material.nav-tabs .nav-item {
      margin-right: 5px; } }
/* ========= responsive scss for 992 screen ========= */
@media only screen and (max-width: 991px) {
  .card-absolute .card-header {
    padding: 10px 15px !important; }

  .comingsoon .comingsoon-inner .countdown .time {
    width: 80px;
    height: 80px;
    font-size: 26px; }

  footer {
    bottom: -20px; }

  .authentication-main .auth-innerleft, .authentication-main .auth-innerright {
    padding: 50px; }
  .authentication-main .auth-innerleft {
    background-size: cover; }

  .calendar-wrap .basic-calendar .external-events .fc-event + .fc-event {
    margin-top: 10px; }

  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-bottom: -10px;
    margin-top: 15px; }

  .card .card-header .card-header-right {
    top: 13px; }

  .page-wrapper .page-main-header {
    height: 60px; }
    .page-wrapper .page-main-header .main-header-left .logo-wrapper img {
      height: 50px;
      margin-left: 25px; }
    .page-wrapper .page-main-header .main-header-right .nav-right {
      position: unset; }
      .page-wrapper .page-main-header .main-header-right .nav-right >
      .mobile-toggle {
        display: inline-block;
        cursor: pointer; }
      .page-wrapper .page-main-header .main-header-right .nav-right > ul {
        top: 60px;
        position: absolute;
        z-index: -1;
        background-color: #fff;
        transition: all linear 0.3s;
        box-shadow: 0 2px 2px 2px #efefef;
        width: 100%;
        left: 0;
        padding: 0 40px;
        transform: translateY(-35px) scaleY(0);
        opacity: 0;
        visibility: hidden; }
        .page-wrapper .page-main-header .main-header-right .nav-right > ul.open {
          z-index: 1;
          opacity: 1;
          transform: translateY(0px) scaleY(1);
          visibility: visible; }
        .page-wrapper .page-main-header .main-header-right .nav-right > ul > li {
          padding: 15px 0; }
          .page-wrapper .page-main-header .main-header-right .nav-right > ul > li h6 {
            font-size: 0; }
          .page-wrapper .page-main-header .main-header-right .nav-right > ul > li .onhover-show-div {
            top: 55px; }
  .page-wrapper .page-body-wrapper .page-sidebar {
    width: 0%;
    top: 60px;
    height: calc(100vh - 60px); }
    .page-wrapper .page-body-wrapper .page-sidebar ~ .page-body {
      margin-left: 0px;
      padding-top: 0 !important; }
  .page-wrapper .page-body-wrapper .page-sidebar-open {
    width: 250px; }
  .page-wrapper .page-body-wrapper .page-header {
    padding-top: 25px;
    padding-bottom: 25px; }
    .page-wrapper .page-body-wrapper .page-header .row h3 {
      font-size: 22px; }
    .page-wrapper .page-body-wrapper .page-header .breadcrumb {
      float: left;
      padding-left: 0;
      margin-top: 7px; }
  .page-wrapper .page-body-wrapper .page-body {
    margin-top: 60px;
    padding: 0 10px; }
  .page-wrapper .page-body-wrapper .default-according .card .card-header, .page-wrapper .page-body-wrapper .default-according .card .card-body {
    padding: 0.75rem 1.25rem; }
  .page-wrapper .page-body-wrapper .card .card-header, .page-wrapper .page-body-wrapper .card .card-body, .page-wrapper .page-body-wrapper .card .card-footer {
    padding: 20px; }
  .page-wrapper .page-body-wrapper .user-profile .profile-img-style {
    padding: 20px; }
    .page-wrapper .page-body-wrapper .user-profile .profile-img-style .img-container {
      margin-top: 20px; }
  .page-wrapper .page-body-wrapper .user-profile hr {
    margin: 20px 0; }
  .page-wrapper .page-body-wrapper .user-profile .like-comment {
    margin-top: 20px; }

  .page-builder .ge-addRowGroup {
    width: 100%; }

  .user-profile .hovercard .info .user-designation {
    margin-bottom: 30px; }

  .blog-single .comment-box .comment-social li {
    padding-left: 15px; }

  .error-wrapper {
    padding: 35px 0; }
    .error-wrapper .sub-content {
      font-size: 14px;
      line-height: 25px;
      margin-top: 0px; }
    .error-wrapper .error-heading {
      margin-top: 30px; }
      .error-wrapper .error-heading .cloud-first {
        width: 100%; }
      .error-wrapper .error-heading .cloud-second {
        width: 75%;
        margin-top: -80px; }
      .error-wrapper .error-heading .headline {
        font-size: 180px;
        margin-top: -30%; }
    .error-wrapper .maintenance-heading {
      margin-top: 30px; }
      .error-wrapper .maintenance-heading .cloud-first {
        width: 100%; }
      .error-wrapper .maintenance-heading .cloud-second {
        width: 70%;
        margin-top: -25px; }

  .search-page .info-block {
    flex-wrap: wrap; }

  .comingsoon .comingsoon-inner img {
    width: 150px; }

  .crm-numbers .col + .col {
    border-left: none; }

  .review-box {
    padding: 0px; }

  .contact-form {
    padding: 0; }

  .business-chart-widget .icon-bg {
    right: 0; }

  .crm-top-widget .media i {
    font-size: 20px; }
  .crm-top-widget .media .media-body h3 {
    font-size: 16px; }

  .whether-widget-bottom svg {
    width: 80px;
    height: 80px; }

  .modern-layout button {
    margin: 0 auto; }
  .modern-layout .vertical-menu .navbar-collapse {
    background: linear-gradient(22deg, #5934fc 0, #a34ffe 100%);
    margin-top: 10px; }
    .modern-layout .vertical-menu .navbar-collapse .navbar-nav .nav-item .sub-menu > .nav-item .sub-menu {
      left: 0 !important;
      top: 50px !important; }

  .vertical-layout .page-main-header .main-header-left {
    margin-top: 0;
    width: 100%; }
    .vertical-layout .page-main-header .main-header-left .logo-wrapper {
      margin: 0 auto; }
      .vertical-layout .page-main-header .main-header-left .logo-wrapper img {
        width: 88%;
        margin: 0 auto; }
  .vertical-layout .page-main-header .main-header-right {
    float: none; }
    .vertical-layout .page-main-header .main-header-right .search-form {
      width: 100%; }
      .vertical-layout .page-main-header .main-header-right .search-form input {
        margin: 0 auto; }
    .vertical-layout .page-main-header .main-header-right .nav-right {
      text-align: center;
      margin: 15px 0; }
      .vertical-layout .page-main-header .main-header-right .nav-right .onhover-show-div {
        display: block !important;
        top: 50px; }
        .vertical-layout .page-main-header .main-header-right .nav-right .onhover-show-div li {
          padding: 12px 20px; }
      .vertical-layout .page-main-header .main-header-right .nav-right ul {
        display: flex;
        align-items: center;
        justify-content: center; }
        .vertical-layout .page-main-header .main-header-right .nav-right ul li {
          padding: 0px 0; }
      .vertical-layout .page-main-header .main-header-right .nav-right .notification {
        top: -15px; }
      .vertical-layout .page-main-header .main-header-right .nav-right .profile-dropdown li {
        padding: 0 0 5px 0px; }
  .vertical-layout .page-body-wrapper .vertical-menu ~ .page-body {
    margin-top: 260px; }
  .vertical-layout .page-body-wrapper .vertical-menu {
    top: 209px;
    padding: 10px 0;
    background: linear-gradient(22deg, #0bc0f4 0, #33e7d1 100%); }
    .vertical-layout .page-body-wrapper .vertical-menu .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
      color: #fff; }
    .vertical-layout .page-body-wrapper .vertical-menu .navbar .navbar-collapse .navbar-nav .nav-item .sub-menu > .nav-item .sub-menu {
      left: 0 !important;
      top: 50px !important; }
    .vertical-layout .page-body-wrapper .vertical-menu .navbar-toggler {
      background-color: #19c9ed;
      padding: 0; }

  .top-radius-blog {
    width: 100%; }

  .sm-100-w {
    width: 100%;
    height: 100%; }

  .page-wrapper .page-body-wrapper .footer-fix {
    margin-left: 0px;
    padding-right: 0px; } }
/* ========= responsive scss for 768 screen ========= */
@media only screen and (max-width: 767px) {
  
  h3 {
    font-size: 22px; }

  .invoice .text-md-right {
    margin-top: 15px; }

  .form-inline.d-inline-block {
    display: block !important;
    width: 100%; }
    .form-inline.d-inline-block .form-control {
      margin-bottom: 10px; }

  .reset-password-box {
    width: 500px;
    margin: 0 auto; }
    .reset-password-box .card {
      padding: 20px; }

  .error-wrapper .maintenance-icons li i {
    color: #eeeeee;
    font-size: 30px; }
  .error-wrapper .maintenance-icons li:nth-child(2) i {
    font-size: 60px;
    margin-top: -10px;
    margin-left: 70px; }
  .error-wrapper .maintenance-icons li:nth-child(3) i {
    font-size: 90px;
    margin-right: 80px; }

  .authentication-box {
    text-align: center; }

  .authentication-main .auth-innerleft, .authentication-main .auth-innerright {
    min-height: auto;
    padding: 30px 15px; }

  .card .sub-title {
    text-align: center; }

  .loader-box {
    justify-content: center; }

  .dataTables_wrapper .dataTables_length {
    margin-bottom: 20px; }
  .dataTables_wrapper .dataTables_filter {
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 20px; }

  div.dataTables_wrapper div.dataTables_info {
    padding-top: 0; }
  div.dataTables_wrapper div.dataTables_length label, div.dataTables_wrapper div.dataTables_filter label {
    float: none; }
  div.dataTables_wrapper div.dataTables_paginate {
    float: none;
    margin-top: 20px !important;
    margin-left: 0 !important; }

  .calendar-wrap .fc-basic-view .fc-day-number {
    padding: 0 0px !important; }
  .calendar-wrap .fc-events-container {
    margin-top: 0px; }
  .calendar-wrap .fc-events-container h6, .calendar-wrap .fc-events-container .checkbox {
    text-align: right; }
  .calendar-wrap .checkbox label {
    margin-top: 0; }
  .calendar-wrap .fc-toolbar .fc-left .fc-next-button .fc-icon-right-single-arrow:after {
    font-size: 12px !important; }
  .calendar-wrap .fc-toolbar .fc-left .fc-prev-button .fc-icon-left-single-arrow:after {
    font-size: 12px !important; }
  .calendar-wrap .fc-toolbar .fc-left .fc-today-button {
    padding-top: 2px !important; }
  .calendar-wrap .fc {
    margin-top: 0px; }
    .calendar-wrap .fc button {
      font-size: 14px !important;
      padding: 0 5px !important; }
    .calendar-wrap .fc .fc-left {
      margin-bottom: 10px; }
    .calendar-wrap .fc .fc-toolbar > div {
      display: block !important;
      float: none !important; }
    .calendar-wrap .fc .fc-toolbar > * :first-child {
      font-size: 18px; }
    .calendar-wrap .fc .fc-toolbar > * > * {
      float: none !important; }

  .btn-group-wrapper {
    text-align: center; }
    .btn-group-wrapper .m-b-30 {
      margin-bottom: 15px !important; }

  .btn-group-showcase {
    text-align: center; }
    .btn-group-showcase .btn-group {
      margin-right: 0;
      margin-bottom: 15px; }

  .btn-group .btn {
    font-size: 14px;
    padding: 0.375rem 1.2rem; }

  .animate-widget .text-center {
    display: none; }

  .business-card .b-l-light {
    border-left: none !important; }

  .business-top-widget .media .total-value {
    font-size: 25px; }

  .business-chart-widget .total-num {
    font-size: 24px; }
  .business-chart-widget .icon-bg {
    font-size: 75px; }
  .business-chart-widget .flot-chart-container {
    height: 75px; }

  .social-widget .media {
    padding: 5px 10px; }

  .mega-menu .onhover-show-div {
    height: 350px; }

  .page-builder .ge-canvas .column {
    padding: 0 !important; }
  .page-builder .ge-content-type-ckeditor h3 {
    font-size: 20px; }
  .page-builder .ge-content-type-ckeditor p {
    font-size: 12px; }
  .page-builder .ge-row-icon {
    display: none !important; }

  /* font-awesom icon page */
  .icon-hover-bottom .form-group input {
    min-width: 270px; }

  .user-profile .hovercard .cardheader {
    height: 350px; }
  .user-profile .hovercard .info {
    padding: 35px; }
    .user-profile .hovercard .info .ttl-info {
      margin-bottom: 20px; }

  .calendar-wrap .fc button {
    padding: 5px; }
  .calendar-wrap .fc-day-grid-event {
    margin: 0;
    padding: 5px;
    width: inherit; }
  .calendar-wrap .fc-toolbar h2 {
    font-size: 20px;
    line-height: 35px;
    font-weight: bold; }
  .calendar-wrap .basic-calendar .external-events {
    margin-top: 0px; }

  .blog-single .comment-box .media h6 {
    margin-bottom: 10px; }
  .blog-single .comment-box .media img {
    margin-right: 30px; }
  .blog-single .comment-box .comment-social {
    margin-bottom: 5px; }
    .blog-single .comment-box .comment-social li {
      padding-left: 0;
      padding-right: 10px; }

  .nav-material.nav-tabs {
    display: inline-block; }
    .nav-material.nav-tabs .nav-item {
      float: left;
      margin-right: 15px; }

  .search-page .search-form input {
    background-position: 95%; }

  .authentication-main .authentication-box {
    width: 100%; }
  .authentication-main .auth-innerleft {
    background-image: none;
    box-shadow: none;
    position: relative;
    width: 100%;
    min-height: auto; }
    .authentication-main .auth-innerleft .security-icon {
      width: 100px; }
  .authentication-main .auth-innerright {
    display: inherit; }

  .border-widgets > .row > div + div {
    border-left: 1px solid transparent; }

  .crm-top-widget .media i {
    font-size: 40px; }
  .crm-top-widget .media .media-body h3 {
    font-size: 22px; }

  .default-dashboard-main-chart {
    height: 200px; }

  .map-chart .chart-container {
    height: 300px; }

  .candidcahrt {
    height: 250px; }

  .bar-chart-widget .earning-details i {
    right: 0; }

  .serial-chart .chart-container {
    height: 300px; }

  .bottom-content {
    padding: 10px; }
    .bottom-content p {
      font-size: 12px; }

  .classic-layout .status-widget .status-yearly-chart {
    margin-top: -20px; }
  .classic-layout .status-monthly-chart .chart-container, .classic-layout .status-yearly-chart .chart-container {
    height: 200px; }
  .classic-layout .social-comment-widget .social-icon-bg {
    right: 0;
    top: 0;
    font-size: 120px; }

  .svg-animation {
    display: none; }

  .modern-layout .b-r-light {
    border-right: none !important; }
  .modern-layout .header {
    padding-top: 35px; }
    .modern-layout .header .page-main-header .modern-header .header-inner {
      margin-top: 10px; }
    .modern-layout .header .page-main-header .modern-header .main-header-right {
      float: none; }
      .modern-layout .header .page-main-header .modern-header .main-header-right .nav-right {
        text-align: center;
        margin: 15px 0; }
        .modern-layout .header .page-main-header .modern-header .main-header-right .nav-right ul {
          display: inline-block; }
          .modern-layout .header .page-main-header .modern-header .main-header-right .nav-right ul li {
            padding: 5px 0; }
        .modern-layout .header .page-main-header .modern-header .main-header-right .nav-right .notification {
          top: 0; }
  .modern-layout .page-body-wrapper .page-body .top-charts {
    margin-top: -85px; }
  .modern-layout .annual-report canvas {
    right: unset;
    top: 0;
    left: 0px;
    margin-top: 10px;
    width: 100% !important; }
  .modern-layout .products-listing .flot-chart-container {
    margin-top: -50px; }

  .solitary-layout.page-wrapper .iconbar-close .page-body {
    margin-left: 55px !important; }
  .solitary-layout.page-wrapper .iconbar-close .top-section {
    margin-left: 55px !important;
    width: calc(100% - 55px); }
  .solitary-layout.page-wrapper .iconsidebar-menu {
    top: 90px;
    width: 55px; }
    .solitary-layout.page-wrapper .iconsidebar-menu .logo-wrapper {
      width: 55px; }
    .solitary-layout.page-wrapper .iconsidebar-menu .iconMenu-bar {
      width: 55px; }
      .solitary-layout.page-wrapper .iconsidebar-menu .iconMenu-bar .bar-icons {
        font-size: 25px;
        padding: 10px; }
      .solitary-layout.page-wrapper .iconsidebar-menu .iconMenu-bar .iconbar-mainmenu {
        left: 55px;
        width: 100%; }
  .solitary-layout.page-wrapper .solitary-header .main-header-right {
    float: left; }

  .vertical-layout .page-main-header .main-header-left {
    margin-top: 0;
    width: 100%; }
    .vertical-layout .page-main-header .main-header-left .logo-wrapper {
      margin: 0 auto; }
  .vertical-layout .page-main-header .main-header-right {
    float: none; }
    .vertical-layout .page-main-header .main-header-right .search-form {
      width: 100%; }
      .vertical-layout .page-main-header .main-header-right .search-form input {
        margin: 0 auto; }
    .vertical-layout .page-main-header .main-header-right .nav-right {
      text-align: center;
      margin: 15px 0; }
      .vertical-layout .page-main-header .main-header-right .nav-right ul li {
        padding: 0px 0; }
      .vertical-layout .page-main-header .main-header-right .nav-right .notification {
        top: -15px; }
      .vertical-layout .page-main-header .main-header-right .nav-right .profile-dropdown li {
        padding: 0 0 5px 0px; }
  .vertical-layout .page-body-wrapper .vertical-menu ~ .page-body {
    margin-top: 260px; }
  .vertical-layout .page-body-wrapper .vertical-menu {
    top: 208px;
    padding: 10px 0; }

  .icon-hover-bottom .icon-popup div .flag-icon {
    width: 30px;
    height: auto; }
  .icon-hover-bottom .icon-popup .form-group input {
    min-width: 40%; }

  .footer-links {
    text-align: center; }

  .footer-copyright {
    text-align: center; }

  .jvector-map-height {
    height: 150px; } }
/* ========= responsive scss for 575 screen ========= */
@media only screen and (max-width: 575px) {
  .list-group .list-group-item-action:last-child {
    margin-bottom: 15px; }

  .reset-password-box {
    width: 430px; }

  .auth-bg {
    padding: 25px 15px; }

  .auth-bg-effect {
    display: none; }

  .date-picker .text-right {
    text-align: left !important; }

  .dataTables_wrapper table.dataTable {
    margin-bottom: 15px !important; }

  ul.pagination li:before {
    line-height: 3; }
  ul.pagination li:first-child > a, ul.pagination li:last-child > a {
    display: none; }

  div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:last-child {
    padding-left: 0 !important; }
  div.table-responsive > div.dataTables_wrapper > div.row > div[class^="col-"]:first-child {
    padding-right: 0 !important; }
  div.dataTables_wrapper div.dataTables_length {
    margin-bottom: 15px; }
    div.dataTables_wrapper div.dataTables_length select {
      min-height: 30px; }
  div.dataTables_wrapper table.dataTable th, div.dataTables_wrapper table.dataTable td {
    padding: 0.5rem; }
  div.dataTables_wrapper div.dataTables_paginate {
    margin-top: 15px !important; }
    div.dataTables_wrapper div.dataTables_paginate .paginate_button {
      padding: 1px 7px; }
      div.dataTables_wrapper div.dataTables_paginate .paginate_button.previous {
        font-size: 0;
        padding: 0; }
        div.dataTables_wrapper div.dataTables_paginate .paginate_button.previous:before {
          content: "\e64a";
          font-family: themify;
          font-size: 11px;
          padding: 0 5px; }
      div.dataTables_wrapper div.dataTables_paginate .paginate_button.next {
        font-size: 0;
        padding: 0; }
        div.dataTables_wrapper div.dataTables_paginate .paginate_button.next:before {
          content: "\e649";
          font-family: themify;
          font-size: 11px;
          padding: 0 5px; }
  div.dataTables_wrapper .dataTables_filter {
    margin-bottom: 15px; }
    div.dataTables_wrapper .dataTables_filter input[type="search"] {
      height: 30px; }

  .user-profile .profile-img-style {
    padding: 15px; }
    .user-profile .profile-img-style .img-container {
      margin-top: 15px; }
  .user-profile hr {
    margin: 15px 0; }
  .user-profile .like-comment {
    margin-top: 15px; }

  .jvector-map-height {
    height: 250px; }

  .user-profile .order-sm-0 {
    order: -1; }
  .user-profile .hovercard .info .ttl-info {
    text-align: center !important; }

  .icon-hover-bottom .form-group {
    display: flex; }
  .icon-hover-bottom .icon-popup {
    padding: 15px; }
  .icon-hover-bottom svg.climacon {
    height: 50px;
    width: 50px; }

  .blog-box.blog-shadow:before {
    box-shadow: inset 0px -100px 100px -13px rgba(0, 0, 0, 0.6); }
  .blog-box .blog-details p, .blog-box .blog-details .single-blog-content-top {
    margin-top: 15px; }
  .blog-box .blog-details h4 {
    margin-top: 15px; }
  .blog-box .blog-details .blog-social {
    margin-top: 15px; }
    .blog-box .blog-details .blog-social li + li {
      margin-left: 0;
      margin-right: 15px; }
      .blog-box .blog-details .blog-social li + li > span {
        display: none; }
    .blog-box .blog-details .blog-social li:first-child {
      display: block;
      padding-right: 0;
      border: 0;
      margin-bottom: 10px; }

  .comment-box {
    padding-top: 40px;
    padding-bottom: 40px; }
    .comment-box ul ul {
      margin-left: 30px; }
    .comment-box li .media {
      display: block; }
      .comment-box li .media img {
        height: 50px;
        width: 50px;
        padding: 3px;
        margin-bottom: 10px; }

  .card .card-header .card-header-right {
    top: 8px; }

  .ace-editor {
    height: 320px; }

  .gallery > a {
    margin-bottom: 15px; }
    .gallery > a:nth-child(odd) {
      padding-right: 7.5px; }
    .gallery > a:nth-child(even) {
      padding-left: 7.5px; }

  .card .card-header h5 {
    font-size: 17px; }

  .theme-form .form-group {
    margin-bottom: 15px; }

  .page-wrapper .page-body-wrapper .default-according .card .card-header, .page-wrapper .page-body-wrapper .default-according .card .card-body, .page-wrapper .page-body-wrapper .default-according .card .card-footer {
    padding: 0.75rem 1.25rem; }
  .page-wrapper .page-body-wrapper .card {
    margin-bottom: 15px; }
    .page-wrapper .page-body-wrapper .card .card-header, .page-wrapper .page-body-wrapper .card .card-body, .page-wrapper .page-body-wrapper .card .card-footer {
      padding: 15px; }
  .page-wrapper .page-body-wrapper .page-body {
    padding: 0 !important; }
  .page-wrapper .page-body-wrapper .page-header {
    padding-top: 20px;
    padding-bottom: 20px; }
    .page-wrapper .page-body-wrapper .page-header .row h3 {
      font-size: 20px; }
  .page-wrapper .page-main-header .nav-right > ul .search-form .mobile-search {
    background-image: url(../images/dashboard/search.png);
    height: 15px;
    width: 15px;
    display: inline-block;
    background-size: cover;
    margin: 5px 0 0; }
  .page-wrapper .page-main-header .nav-right > ul .search-form .form-control-plaintext {
    top: 60px;
    position: absolute;
    transition: all linear 0.3s;
    left: 0;
    background-color: #fff;
    transform: translateY(-35px) scaleY(0);
    opacity: 0;
    visibility: hidden;
    width: 180px; }
    .page-wrapper .page-main-header .nav-right > ul .search-form .form-control-plaintext.open {
      transform: translateY(0px) scaleY(1);
      opacity: 1;
      visibility: visible;
      transition: all linear 0.3s; }
  .page-wrapper .page-main-header .nav-right > ul .search-form .form-group {
    margin-bottom: 0; }

  /* alert responsive css start here */
  .alert-primary.inverse {
    background-color: transparent;
    padding: 13px 100px 13px 65px; }

  .alert-secondary.inverse {
    background-color: transparent;
    padding: 13px 100px 13px 65px; }

  .alert-success.inverse {
    background-color: transparent;
    padding: 13px 100px 13px 65px; }

  .alert-danger.inverse {
    background-color: transparent;
    padding: 13px 100px 13px 65px; }

  .alert-warning.inverse {
    background-color: transparent;
    padding: 13px 100px 13px 65px; }

  .alert-info.inverse {
    background-color: transparent;
    padding: 13px 100px 13px 65px; }

  .alert-light.inverse {
    background-color: transparent;
    padding: 13px 100px 13px 65px; }

  .alert-dark.inverse {
    background-color: transparent;
    padding: 13px 100px 13px 65px; }

  .alert .close {
    height: 100%; }

  .business-card {
    padding: 20px; }

  .user-profile hr {
    margin: 15px 0; }
  .user-profile .hovercard .cardheader {
    height: 300px; }
  .user-profile .hovercard .info {
    padding: 20px; }
    .user-profile .hovercard .info .user-designation {
      border-top: 1px solid #eeeeee;
      border-bottom: 1px solid #eeeeee;
      margin-bottom: 15px;
      padding: 15px 0px; }
  .user-profile .hovercard .social-media a {
    margin-right: 20px;
    font-size: 16px; }
  .user-profile .hovercard .follow .follow-num {
    font-size: 20px; }
  .user-profile .profile-img-style .pictures img {
    margin-bottom: 10px; }

  .custom-card .card-footer > div h6 {
    font-size: 14px;
    font-weight: 600; }
  .custom-card .card-footer > div h3 {
    font-size: 24px; }

  .calendar-wrap .fc-toolbar .fc-center {
    margin-top: 10px; }

  /* megaoption page responsive scss */
  .mega-inline {
    display: block; }

  .blog-box.blog-shadow .blog-details {
    padding: 15px; }
    .blog-box.blog-shadow .blog-details p {
      margin-bottom: 0; }
    .blog-box.blog-shadow .blog-details h4 {
      margin-bottom: 10px; }

  .blog-box.blog-list .blog-details {
    padding-top: 0; }
  .blog-box .blog-details {
    padding: 20px; }
  .blog-box .blog-date span {
    font-size: 25px; }

  .blog-single .blog-box .blog-details {
    padding: 0; }

  .error-wrapper {
    padding: 20px 0; }
    .error-wrapper .btn {
      margin-top: 15px; }
    .error-wrapper .img-100 {
      width: 50px !important; }
    .error-wrapper .error-heading {
      margin-top: 15px; }
      .error-wrapper .error-heading .cloud-second {
        margin-top: -60px; }
      .error-wrapper .error-heading .headline {
        font-size: 80px;
        margin-top: -20%; }
    .error-wrapper .maintenance-heading .cloud-second {
      display: none; }
    .error-wrapper .maintenance-heading .headline {
      font-size: 25px;
      margin-top: -10%;
      letter-spacing: 2px; }

  .comingsoon .comingsoon-inner .coming-soon-bottom-link {
    margin-top: 20px;
    line-height: 1; }
  .comingsoon .comingsoon-inner h5 {
    margin-bottom: 20px;
    margin-top: 20px; }
  .comingsoon .comingsoon-inner .countdown {
    padding: 20px 0px; }
    .comingsoon .comingsoon-inner .countdown ul li {
      margin: 0 7px; }
    .comingsoon .comingsoon-inner .countdown .title {
      font-size: 12px; }
    .comingsoon .comingsoon-inner .countdown .time {
      width: 45px;
      height: 45px;
      line-height: 45px;
      font-size: 16px;
      margin: 0 auto; }

  .wizard-4 ul.anchor {
    width: 100%; }
  .wizard-4 .step-container {
    width: 100%; }
  .wizard-4 .action-bar .btn {
    width: 100%;
    margin-top: 10px; }

  .chart-block .chart-overflow {
    width: 100%; }

  .flot-chart-container {
    height: 300px;
    margin-bottom: 15px; }

  .total-chart {
    height: 200px; }

  .support-ticket .left {
    height: 50px;
    width: 50px;
    font-size: 25px; }

  .speed-chart .chart-container {
    margin-top: 0px;
    margin-bottom: 120px; }

  .width-50, .width-100 {
    max-width: unset;
    flex: unset; }

  .classic-layout .product-sale-chart {
    height: 300px; }

  .vertical-layout .page-body-wrapper .vertical-menu ~ .page-body {
    margin-top: 257px; }
  .vertical-layout .page-body-wrapper .vertical-menu {
    top: 205px; }
    .vertical-layout .page-body-wrapper .vertical-menu .navbar .nav-item .sub-menu > .nav-item .sub-menu {
      left: 0 !important;
      top: 50px !important; }

  .solitary-layout .iconbar-close .page-body {
    margin-left: 55px !important;
    margin-top: 275px !important;
    padding-top: 15px !important; }
  .solitary-layout .solitary-scrollpy .nav-pills .nav-item a {
    font-size: 10px;
    padding: 10px; }

  .shadow-showcase {
    margin-bottom: 30px; } }
/* ========= responsive scss for 480 screen ========= */
@media only screen and (max-width: 480px) {
  .reset-password-box {
    width: 290px; }

  .icon-hover-bottom .icon-first {
    margin-right: 10px; }
  .icon-hover-bottom .icon-popup .icon-class {
    display: none; }

  .error-wrapper .maintenance-heading {
    margin-top: 0; }

  .card .card-header > span + span {
    display: none; }

  .custom-card {
    padding: 0; }
    .custom-card .card-footer > div {
      padding: 5px; }
      .custom-card .card-footer > div h3 {
        font-size: 20px; }
    .custom-card .card-social li {
      padding: 5px 0; }
    .custom-card .profile-details h6 {
      margin-bottom: 15px; }
    .custom-card .profile-details h4 {
      font-size: 20px; }
    .custom-card .card-profile img {
      height: 80px;
      padding: 5px; }

  .card .card-header .card-header-right i {
    margin: 0 3px;
    font-size: 14px; }

  .blog-box.blog-shadow .blog-details {
    padding: 10px; }
    .blog-box.blog-shadow .blog-details h4 {
      font-size: 14px; }

  .cal-date-widget {
    padding: 30px; }

  .calender-widget .cal-img {
    height: 225px; }

  .company-card .details .media {
    flex-wrap: wrap; }

  .business-card .b-l-light {
    border-left: 1px solid transparent !important; } }
/* ========= responsive scss for 360 screen ========= */
@media only screen and (max-width: 360px) {

  .flot-chart-container {
    height: 150px;
    margin-bottom: 15px; }

  .map-block {
    height: 250px; }

  .img-cropper .docs-tooltip {
    font-size: 11px; }
  .img-cropper .docs-toggles .btn-group .btn {
    padding: 0.375rem 0.2rem; }

  .blog-box .blog-details p {
    line-height: 1.5; }
  .blog-box .blog-details-main .blog-social li {
    padding: 0 10px; }

  .button-builder-wrap .btn-lg {
    font-size: 18px; }

  /* responsive material tabs*/
  .nav-material.nav-tabs .nav-item .nav-link {
    padding: 10px 0px; }

  .tabs-responsive-side {
    max-width: 100%; }

  .cal-date-widget .datepicker {
    padding: 0;
    width: unset; }

  .default-widget-count h3 {
    font-size: 20px; }
  .default-widget-count p {
    font-size: 15px; }
  .default-widget-count .left {
    width: 50px;
    height: 50px; }
    .default-widget-count .left i {
      font-size: 20px; }
  .default-widget-count .icon-bg {
    font-size: 40px; }


     }


/**=====================
      Responsive CSS Ends
==========================**/
