/* Extra small devices (phones, less than 768px) */

/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */

/* Medium devices (desktops, 992px and up) */

/* Large devices (large desktops, 1200px and up) */

/* Extra small devices (phones, less than 768px) */

/* No media query since this is the default in Bootstrap */

@media (max-width: 1367px) {
    .varify-cls .g-recaptcha {
        transform: scale(0.7) !important;
        margin-left: -40px;
    }
}

@media only screen and (max-width: 1366px) {

    .ulockd-main-title a{margin-left: 0;}

    .ulockd-about-box{width: 80%;}
    .typed_article_text {
        font-size: 30px;
    }

    .main-slider2 .mslider-caption {
        padding: 14% 15%;
    }

    .masonry-gallery.grid-10 .isotope-item {
        width: 20%;
    }

    .triangle2:before {
        right: -30%;
    }

    .font-45 {
        font-size: 35px;
    }

    h2,
    .h2 {
        font-size: 28px;
    }

    h3,
    .h3 {
        font-size: 28px;
        margin-top: 0px;
        margin-bottom: 15px;
    }

    .justify {
        padding: 0 60px;
        font-size: 22px;
    }

    p {
        font-size: 20px;
        font-weight: 400;
    }



    nav.navbar.bootsnav ul.nav > li > a {
        font-size: 16px;
    }

    .ulockd-main-title h2 {
        padding: 0;
    }
    /*...........css add.......*/
    .justify{
        padding:0;}

}

/*  (min-width:1200px)+++ */

@media only screen and (max-width: 1200px) {





    .typed_article_text {
        font-size: 25px;
    }

    .carousel-caption h1 {
        font-size: 36px;
    }
}

/* (min-width:992px) (max-width:1199px) */

@media only screen and (max-width: 1199.98px) {

    .contect-seting{
        margin-top: 197px;px;}

    .ulockd_bgp6 {
        -webkit-background-size: cover;
        background-size: cover;
    }

    /* ExTra Class Start*/
    .p0-mdd {
        padding: 0;
    }

    .m0-mdd {
        margin: 0 !important;
    }

    .tac-md {
        text-align: center;
    }

    .dn-md {
        display: none !important;
    }

    .pad395-md {
        padding-left: 5px;
        padding-right: 5px;
    }

    .pad330-md {
        padding-right: 0;
    }

    .pad390-md {
        padding-left: 0;
        padding-right: 0;
    }

    /* ExTra Class End*/
    /* Margin Padding Change In Responsive Area */
    .ulockd-pad9100 {
        padding-left: inherit !important;
    }

    .pl130-md {
        padding-left: 130px;
    }

    .ulockd-mrgn12-150 {
        margin-top: auto;
    }

    /* END */
    .ulockd-main-logo2 img {
         margin-top: 23px;
        width: 120px;
    }

    nav.navbar.bootsnav.menu-style1 ul.nav > li > a {
        padding: 30px 8px;
    }

    .ulockd-quote-btn a {
        padding: 10px 30px;
    }

    .ulockd-ohour-info.style2 {
        margin-bottom: 15px;
    }

    /*.welcm-ht {*/
        /*text-align: center !important;*/

    /*}*/

    .social-linked {
        float: none !important;
        margin-bottom: 10px;
        text-align: center;
    }

    /* home responsibe style Start*/
    .cd-slider-nav {
        width: 100%;
    }

    /* home slider end */
    /* home responsibe style 2 Start*/
    .main-slider2 .mslider-caption {
        padding: 13% 7%;
    }

    /* home slider end */
    .feature-box .overlay {
        padding: 0px 20px 0px;
    }

    .ulockd-frst-divider::after {
        display: none;
    }

    .bp-details {
        padding: 15px 40px;
    }

    .masonry-gallery.grid-4 .isotope-item {
        width: 33.33%;
    }

    .masonry-gallery.grid-5 .isotope-item {
        width: 20%;
    }

    .masonry-gallery.grid-6 .isotope-item,
    .masonry-gallery.grid-7 .isotope-item,
    .masonry-gallery.grid-8 .isotope-item,
    .masonry-gallery.grid-9 .isotope-item,
    .masonry-gallery.grid-10 .isotope-item {
        width: 25%;
    }

    .team-icon.style2 > li {
        padding: 0px;
    }

    .team-one {
        margin-bottom: 50px;
        text-align: center;
    }

    .team-member-two .team-two-details {
        bottom: -73%;
    }

    .flip-container .flipper .back {
        padding: 0px 15px;
    }

    .social-linked li {
        margin-bottom: 10px;
    }

    .ulockd-pricing-table {
        margin-bottom: 80px;
    }

    .ulockd-quote-btn {
        right: 11%;
    }

    .ulockd-shop-item {
        margin-bottom: 50px;
    }

    .srvc-details {
        padding: 10px;
    }

    .posted-date {
        bottom: -20%;
    }

    /* Shop section */
    .shop-thumb.style2.shop_bg3,
    .shop-thumb.style2.shop_bg4 {
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
    }

    .feature-box {
        height: 225px;
    }

    .feature-box h3 {
        margin-bottom: 0;
    }

    .img-box .cb-details .lectureer {
        top: -60%;
    }

    .testimonial-grid {
        padding: 15px 10px;
    }

    .tm_social_icon .footer-font-icon li {
        padding-left: 0;
    }

    .img-box .cb-details.style2 {
        padding: 10px;
    }
}

@media only screen and (max-width: 1024px) {
    .carousel-caption {
        top: 20%;
    }

    .main-slider2 .mslider-caption {
        padding: 8%;
    }

    .cd-full-height h3{margin:0 0 10px 0; }
    .cd-full-height h2{margin-top: 5px; font-size: 25px;}











}

@media only screen and (max-width: 992px) {


    .menu-fixed-center{margin-top:7px;}
    .ulockd-welcntxt{display: inline-block;}
    .ulockd-bgthm .welcm-ht {
        float: none;
        text-align: center;
        width: 100%;
        display: block;
        margin: 10px 0;
        display: none;


    }

    .list-inline-set{display: inline-block; flex: none;}

    nav.navbar.bootsnav .navbar-nav {
        padding: 20px;
        color:#054d9a !important;
        background-color:  #054d9a;
    }

    .ulockd-main-logo2 > img {
        /* margin-top: 10px; */
    }

    .ulockd-main-logo2 img {
        margin-top: 0px;
        width: 95px;
    }

    .pogoSlider {
        display: -webkit-inline-flex;
        display: inline-flex;
    }

    .ulockd-mailchimp {
        width: 75%;
    }

}

/* ............................(min-width:768px) (max-width:991px) .......................*/

@media only screen and (max-width: 991px) {


    .cd-full-height h2{margin-bottom: 5px; font-size: 24px;}
    .ulockd_bgi1 .cd-full-height h3{font-size: 16px;}
    a.btn_welcome{padding: 12px 14px; font-size: 16px;}

    .set-login{display: inline-block;}

    #about .tabcontent .img-container-fluid{
        width:40%;}
    .ulockd-about-box{width: 60%;}
    .set-alignment{margin: 0;}
    ul.footer_quick_links_block li{
    float: none;
    display: flex;
    }
    ul.footer_quick_links_block li a{
    margin: 0 auto 5px;
    justify-content: center;
    text-align: center;
    align-items: center;
    }
    /* ExTra Class Start*/
    /*.ulockd-main-title{margin-top: 50px;}*/
    .ulockd-faq-box{margin-top: 50px;}

    .set-explore{margin-top: 50px;}
    .menu-fixed-center{
        margin-top: 7px;}

    .copy_right_block{
        float: none!important;
        text-align: center!important;
    }



nav.navbar.bootsnav .navbar-toggle{margin-top: 6px;
    margin-bottom: 17px;}

#about .tablinks{text-align: left;}
h2 {
    font-size: 30px;
}
nav.navbar.bootsnav .navbar-toggle i {
    padding: 15px;
    background-color: #054d9a;
}

ul.footer_quick_links_block{
    float: none;
}




.m-b-50 {
    margin-bottom: 10px;
}

.font-45 {
    font-size: 25px;
}

h3 {
    font-size: 15px;
}

.ulockd-home-slider .owl-theme .owl-nav {
    display: block;
}

.mb50-smd {
    margin-bottom: 50px;
}

.mt50-smd {
    margin-top: 50px;
}

.mb35-smd {
    margin-bottom: 35px;
}
.tal-smd {
    text-align: left;
}

.tac-smd {
    text-align: center;
}

.fn-smd {
    float: none !important;
}

.dn-smd {
    display: none !important;
}

.dv-smd {
    display: inherit !important;
}

.ulockd-mrgn650 {
    margin-bottom: 0;
}

.ulockd-pad395 {
    padding-left: 15px;
    padding-right: 15px;
}

.ulockd-mrgn1250 {
    margin-top: auto;
}

.logo-widget {
    /* margin-bottom: 15px; */
    margin-left: 75px;
}

/* ExTra Class End*/
.ulockd-main-logo2 img {
    width: auto;
}

.ulockd-ffact-one {
    margin-bottom: 40px;
}

.feature-box .overlay {
    padding: 0px 5px 0;
}

.feature-box h3 {
    font-size: 20px;
}

.ulockd-ffact-one:hover {
    margin-top: 0;
}

.shop-box,
.shop-box2,
.about-box,
.divider-box {
    margin-bottom: 50px;
}

.carousel-caption {
    top: 20%;
}

.carousel-caption.style2 {
    left: 10%;
}

.carousel-caption.style3 {
    left: 10%;
}

.social-linked {
    margin-top: 10px;
    margin-bottom: 0 !important;
}

/* Icon box */
.icon_box:hover .icon {
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.icon_box .ib_details.left {
    margin-right: 0;
}

.icon_box .ib_details {
    margin-left: 0;
}

/* Shop section */
.shop-thumb.style2.shop_bg1,
.shop-thumb.style2.shop_bg2 {
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}

.ulockd-divider-thumb {
    margin-bottom: 30px;
}



.welcm-ht-two {
    text-align: center;
}

.ulockd-login-form {
    margin-bottom: 25px;
}

.social-linked-two {
    float: none !important;
    margin-bottom: 10px;
    text-align: center;
}

.ulockd-main-logo > img,
.ulockd-main-logo2 > img {
    margin-top: 10px;
}

/* Home responsibe style Start*/
.main-slider2 .mslider-caption {
    padding: 8%;
}

.main-slider2 .slider-text2 {
    font-size: 48px;
    line-height: 48px;
}

.main-slider2 .slider-text3 {
    margin-top: 10px;
}

.main-slider2 .owl-prev {
    left: 5px;
}

.main-slider2 .owl-next {
    right: 5px;
}

.all-body-content {
    margin-bottom: 0;
}

.ulockd-footer.fixed-footer {
    position: relative;
}

/* home slider end */
/* Navbar responsibe style Start*/
.navbar-brand .logo {
    height: 69px;
}

.navbar.bootsnav .nav.navbar-nav .dropdown li {
    padding: 10px 15px;
}

.navbar.bootsnav .nav.navbar-nav .dropdown li:hover a {
    padding-left: 15px;
}

nav.navbar.bootsnav.menu-style1 ul.dropdown-menu.megamenu-content h5.title,
nav.navbar.bootsnav.menu-style1 ul.dropdown-menu.megamenu-content .content ul.menu-col li a {
    color: #313131;
}

.top-search .input-group-addon.close-search {
    color: #fff;
}

/* Navbar responsibe style End*/
.htc-info .ulockd-info {
    padding-right: 36%;
}

.masonry-gallery.grid-4 .isotope-item {
    width: 50%;
}

.masonry-gallery.grid-5 .isotope-item,
.masonry-gallery.grid-6 .isotope-item,
.masonry-gallery.grid-7 .isotope-item,
.masonry-gallery.grid-8 .isotope-item,
.masonry-gallery.grid-9 .isotope-item,
.masonry-gallery.grid-10 .isotope-item {
    width: 33.33%;
}

/* Coming Soon Page */
.ulockd-flip-clock .clock {
    padding-left: 0;
}

.team-member-two {
    margin-bottom: 50px;
}

.team-member-two .team-two-details {
    bottom: -45%;
}

.flip-container {
    margin-bottom: 30px;
}

.service-col:hover {
    margin-top: 0;
}

.service-col {
    margin-bottom: 50px !important;
}

.ulockd-team-one .team-one,
.twitter-widget {
    margin-bottom: 50px;
}

.rs-smd-pad395 {
    padding-right: 5px;
    padding-left: 5px;
}

.product-shop-pop {
    margin-bottom: 25px !important;
}

.ulockd-footer-qlink {
    margin-bottom: 35px;
}

.shop-form-control {
    margin-bottom: 15px;
}

.icon_box,
.ulockd-ffact-one {
    margin-bottom: 30px;
}

.ulockd-ffact-one:hover {
    margin-top: 0;
}

.search-box {
    margin-top: 0;
}

.course-search .form-group {
    margin-bottom: 30px;
}

.course-search select.study_level option,
.course-search select.course_length option {
    height: 30px;
}

.team_member .tm_thumb {
    padding: 30px 0 0;
}

.cd-slider-nav nav {
    display: inline-block;
}

.icon_box .ib_details h3,
.icon_box .ib_details h4 {
    letter-spacing: 1px;
    margin-top: 10px;
}

.about-box2,
.team_post,
.feature-box,
.img-box,
.ficon-box,
.ulockd-testimonials,
.project-box,
.pricingTable,
.pricing_table,
.team_one,
.service_box,
.recent_box2,
.whychoose-thumb,
.whychoose-box,
.ulockd-blog-post,
.blog_post_one .blog_post,
.blog_post2,
.blog-post {
    margin-bottom: 50px !important;
}

.recent_box {
    margin-bottom: 70px;

}

.triangle2:before {
    right: -40%;
}

.triangle:before,
.triangle2:before {
    display: none;
}

.testimonial_tab .nav > li > a {
    padding: 5px;
}

.booking_form {
    padding: 0;
}

section {
    padding: 50px 0;
}
.our-project .profit-service-lable{margin-top: 50px;}

    .inner-conraimer-details h1{font-size: 30px;}







}



/* (min-width:480px) (max-width:767px) */

@media only screen and (max-width: 767px) {
    .hide-services-div{display: none;}
    .hide-faq-div{display: none;}
    .hide-explorer-div{display: none;}
    .set-dropmenu{display: block;}
    .set-dropmenu .panel .panel-title a.collapsed .icon-1{display: none;}
    .set-dropmenu .panel .panel-title a.collapsed .icon-2{display: block;}

    .set-dropmenu .panel-default .panel-heading .set-back{background-color:  #054d9a;
        color: #fff;     padding: 0 20px; position: relative;}
    .set-dropmenu .panel-default .panel-heading .categories{margin-left: 60px;}
    .set-dropmenu .panel .panel-title a i{background-color: #bbbbbb;
        color: #ffffff;
        height: 100%;
        line-height: 65px;
        margin-right: 10px;
        text-align: center;
        width: 50px;
        justify-content: center;
        align-items: center;
        display: flex !important;
        position: absolute;
        left: 0;}
    .set-dropmenu .ulockd-explo-content .panel-group .panel-default .panel-heading{
        padding:0;}


    .set-dropmenu .ulockd-explo-content{display: block;}


    #about .tablinks{text-align: center;}
    .typed_article_text {
        font-size: 20px;
    }

    .ulockd-mailchimp {
        width: 100%;
    }

    .cd-hero-slider .selected .cd-full-width h2 {
        font-size: 30px;
        font-weight: 300;
    }

    /* ExTra Class Start*/
    .tal-xsd {
        text-align: left;
    }

    .tac-xsd {
        text-align: center !important;
    }

    .dn-xsd {
        display: none;
    }

    .fn-xsd {
        float: none !important;
    }

    .mrgn620-xsd {
        margin-bottom: 20px;
    }

    .mb305-xsd {
        margin-bottom: 35px !important;
    }

    .ulockd-pad123692 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .ulockd-pad395-xsd {
        padding-left: 5px;
        padding-right: 5px;
    }

    .pad17 {
        padding-top: 8% !important;
    }

    .pad390-md {
        padding-left: 15px !important;
        padding-right: 0 !important;
    }

    .fz60 {
        font-size: 44px;
    }

    .fz48,
    .fz45 {
        font-size: 30px;
    }

    .fz40 {
        font-size: 24px;
    }

    .col-xs-6.col-sm-6.col-md-4.ulockd-pdng0 {
        padding: 0 15px 0 0 !important;
    }

    .ulockd-home-slider h1 {
        font-size: 20px;
    }

    .ulockd-mrgn1250 {
        margin-top: inherit;
    }

    /* ExTra Class End*/
    /* Hero Slider Nav */
    .cd-slider-nav {
        width: 100%;
    }

    /* Navbar Style*/
    .navbar.bootsnav .dropdown li {
        padding: 10px 15px;
    }

    .navbar.bootsnav .dropdown li:hover > a {
        padding-left: 15px;
    }

    .navbar.bootsnav .dropdown li > a {
        color: #111;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
    }

    /* Navbar End*/
    .htc-info {
        text-align: center !important;
    }

    .htc-info .ulockd-info {
        padding: 0;
    }

    .htc-info .ulockd-icon {
        display: table;
        float: none;
        margin: 0 auto;
    }

    .ulockd-ohour-info {
        text-align: center !important;
    }

    .ulockd-ohour-info .ulockd-icon {
        display: table;
        float: none !important;
        margin: 0 auto;
    }

    .ulockd-ohour-info.style2 {
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .welcm-header-middle {
        margin-bottom: 30px;
        margin-top: 20px;
    }

    /* home slider 2 start */
    .main-slider2 .slider-text1 {
        font-size: 30px;
        line-height: 30px;
    }

    .main-slider2 .slider-text2 {
        font-size: 32px;
        line-height: 32px;
    }

    .main-slider2 .owl-prev,
    .main-slider2 .owl-next {
        display: none !important;
    }

    .main-slider2 .slider-text3 p {
        font-size: 14px;
        line-height: 16px;
        margin-top: 0;
    }

    .main-slider2 .mslider-caption {
        padding: 15% 8%;
    }

    /* home slider end */
    .welcm-header-middle {
        text-align: center;
    }

    .masonry-gallery.grid-3 .isotope-item {
        width: 50%;
    }

    .masonry-gallery.grid-4 .isotope-item,
    .masonry-gallery.grid-5 .isotope-item,
    .masonry-gallery.grid-6 .isotope-item,
    .masonry-gallery.grid-7 .isotope-item,
    .masonry-gallery.grid-8 .isotope-item,
    .masonry-gallery.grid-9 .isotope-item,
    .masonry-gallery.grid-10 .isotope-item {
        width: 50%;
    }

    .ulockd-error {
        font-size: 48px;
    }

    .ulockd-csoon {
        font-size: 36px;
    }

    .ulockd-faq-title > h2 {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 10px;
    }

    .flip-container {
        margin-bottom: 15px;
    }

    .ulockd-footer-qlink {
        margin-bottom: 80px;
    }

    .logo-widget {
        /* margin-bottom: 15px; */
        margin: 0 auto;
    }

    .font-icon-social {
        margin-bottom: 30px;
    }

    .feature-box .overlay {
        padding: 30px 5px;
    }

    .team_member .tm_thumb {
        padding: 30px 10px 0;
    }

    .team_member .tm_details {
        padding: 5px 15px 20px;
    }

    /* Icon-box */
    .icon_box .ib_details h4 {
        margin-top: 20px;
    }

    .upcoming-event.ulockd-flip-clock.ulockd-mrgn1250 {
        margin-top: auto;
    }

    .divider-half:before {
        width: 0;
    }

    .footer-padding {
        padding: 80px 15px 10px;
    }

    .icon_box.style2 {
        margin-bottom: 50px;
    }

    .icon_box.style2 h3 {
        font-size: 23px;
    }
}

@media only screen and (max-width: 630px) {

    .typed_article_text {
        font-size: 15px;
    }

    .typed_article_text p{
        font-size: 15px;
        margin: 0;
        line-height: 15;
    }

    /* Main Slider 2 Start*/
    .main-slider2 .mslider-caption {
        padding: 10% 6%;
    }

    /* Main Slider End*/
    .feature-box .overlay {
        padding: 20px 5px;
    }

    .twitter-widget {
        margin-bottom: 40px;
    }

    .upcoming-event .clock.flip-clock-wrapper,
    .clock.flip-clock-wrapper {
        margin-left: -10px !important;
        width: 104%;
    }

    .ulockd-flip-clock .clock .flip-clock-label {
        margin-top: 130px;
    }

    .upcoming-event .clock.flip-clock-wrapper .flip,
    .clock.flip-clock-wrapper .flip {
        margin-bottom: 50px;
    }

    .team-member-two .team-two-details {
        bottom: -85%;
    }

    .blog_post2 .post_review {
        padding: 0 5px 18px 0;
    }
}

/* (min-width:361px) (max-width:580px) */

@media only screen and (max-width: 580px) {
    .link-widget {
        margin: 30px 15px;
        padding-left: 40px;
    }

    .cd-hero {
        max-height: 90vh;
    }

    .cd-hero-slider .selected .cd-full-width h2 {
        font-size: 22px;
        font-weight: 300;
        width: unset;
    }

    .cd-hero-slider .selected .cd-full-width h3 {
        font-size: 20px;
        width: unset;
    }

    .flip-clock-wrapper ul {
        width: 54px;
    }

    .ulockd-uconctruction-ttl {
        font-size: 48px;
    }

    .recent_box2 .icon li a {
        margin-right: 0;
    }

    .srvc_icon2 {
        display: none;
    }
}

/* (min-width:361px) (max-width:520px) */

@media only screen and (max-width: 520px) {

    /* ExTra Class */
    .tac-xxsd {
        text-align: center;
        margin: 0 auto;
    }

    .mb50-xxsd {
        margin-bottom: 50px;
    }

    .mb30-xxsd {
        margin-bottom: 30px;
    }

    .mb0-xxsd {
        margin-bottom: 0 !important;
    }

    .col-xxs-12 {
        width: 100% !important;
    }

    .ulockd-pad395,
    .rs-smd-pad395 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .ulockd-pad30 {
        padding-right: 15px;
    }

    .ulockd-pad90 {
        padding-left: 15px;
    }

    .ulockd-pad390 {
        padding-left: 15px;
        padding-right: 15px;
    }

    .col-xs-6.col-sm-6.col-md-4.ulockd-pdng0 {
        padding: 0 10px 0 10px !important;
    }

    /* ExTra Class End*/
    .carousel-indicators {
        display: none;
    }

    .carousel-caption h1 {
        font-size: 30px;
    }

    .carousel-caption > p {
        font-size: 24px;
    }

    .about-box h3 {
        padding-top: 15px;
    }

    .about-box2 h3 {
        padding-top: 10px;
    }

    .feature-box h3 {
        margin-top: 15px;
    }

    .feature-box .overlay {
        padding: 25px;
    }

    .financial-chart {
        display: none;
    }

    .testimonial-grid {
        margin-bottom: 30px;
    }

    .media-body.history-details {
        padding: 10px 15px 10px 0;
    }

    .ulockd-footer-qlink {
        margin-bottom: 0px;
    }

    .pogoSlider h1,
    .pogoSlider h2,
    .pogoSlider h3,
    .pogoSlider h4 {
        font-size: 18px;
        margin-top: 0;
    }

    .pogoSlider-nav {
        display: none;
    }

    .flip-clock-wrapper ul {
        width: 40px;
    }

    .flickr-widget li {
        padding: 5px;
    }

    .twitter-widget,
    .tag-widget,
    .news-widget,
    .link-widget,
    .widget-about,
    .ulockd-footer-newsletter {
        /* margin-bottom: 30px; */
    }

    .twitter-widget h3,
    .tag-widget h3,
    .news-widget h3,
    .link-widget h3,
    .widget-about h3 {
        margin-bottom: 10px;
    }

    .mail-widget,
    .call-widget {
        margin-bottom: 30px;
    }

    .img-box .cb-details h3 {
        margin-top: 20px;
    }

    .course-search p {
        margin-bottom: 30px;
    }

    .testimonial_tab,
    .footer-fst-col,
    .footer-contact {
        margin-bottom: 50px;
    }

    .testimonial-grid .t_thumb span.icon {
        font-size: 200px;
    }

    .triangles:before,
    .triangles:after {
        display: none;
    }

    .blog_post2 .post_review {
        padding: 0 15px 20px 0;
    }

    .blog_post2 .post_date {
        padding: 10px 15px;
    }

    .blog_post_one .post_details {
        padding: 10px 20px;
    }
}

/* (min-width:361px) (max-width:479px) */

@media only screen and (max-width: 479px) {
    .ulockd-footer-newsletter .title {
        color: #ffffff;
        margin-top: 30px;
    }

    .ulockd-mailchimp {
        width: 90%;
    }

    .ulockd-mrgn1225 {
        margin-top: inherit !important;
    }

    /* Main Slider Start*/
    .main-slider2 .slider-text3 {
        margin-top: 0;
    }

    .main-slider2 .slider-text2 {
        font-size: 23px;
        line-height: 30px;
    }

    /* Main Slider End*/
    .masonry-gallery.grid-2 .isotope-item,
    .masonry-gallery.grid-3 .isotope-item {
        width: 100%;
    }

    .masonry-gallery.grid-4 .isotope-item,
    .masonry-gallery.grid-5 .isotope-item,
    .masonry-gallery.grid-6 .isotope-item,
    .masonry-gallery.grid-7 .isotope-item,
    .masonry-gallery.grid-8 .isotope-item,
    .masonry-gallery.grid-9 .isotope-item,
    .masonry-gallery.grid-10 .isotope-item {
        width: 100%;
    }

    .fancybox-gallery-slider .owl-prev,
    .fancybox-gallery-slider .owl-next {
        display: none !important;
    }

    .carousel-caption > p {
        display: none;
    }
}

@media only screen and (max-width: 414px) {
    .link-widget {
        margin: 30px 15px;
        padding-left: 0px;
    }

    .ulockd-blog-post h3 {
        font-size: 20px;
    }

    .pogoSlider button.btn {
        display: none;
    }

    .upcoming-event .clock.flip-clock-wrapper,
    .clock.flip-clock-wrapper {
        width: 86%;
    }
}

@media only screen and (max-width: 400px) {
    .ulockd-mailchimp {
        width: 80%;
    }

    .header-top.style1 {
        display: none;
    }

    nav.navbar.bootsnav .navbar-brand {
        margin: 0 0 0 -24px;
    }

    /* Main Slider Start*/
    .main-slider2 .mslider-caption {
        padding: 5%;
    }

    .main-slider2 .slider-text1 {
        font-size: 20px;
    }

    .main-slider2 .slider-text2 {
        font-size: 18px;
    }

    .main-slider2 .slider-text3 p {
        display: none;
    }

    /* Main Slider End*/
    .cd-half-width.pad17 > h4 {
        font-size: 15px;
    }

    .cd-half-width.pad17 > h1,
    .cd-half-width.pad17 > h2 {
        font-size: 30px;
    }

    .cd-hero-slider h3 {
        font-size: 16px;
    }

    .cd-hero-slider p {
        font-size: 12px;
    }

    /* ExTra Class Start*/
    .upad395xsd {
        padding-left: 5px;
        padding-right: 5px;
    }

    /* ExTra Class End*/
    .carousel-caption.style2 {
        top: 5%;
    }

    .why-choose-slider button.btn {
        margin-bottom: 10px;
    }

    .pogoSlider h1,
    .pogoSlider h2,
    .pogoSlider h3,
    .pogoSlider h4 {
        margin-top: 15px;
    }

    .upcoming-event.ulockd-flip-clock {
        display: none;
    }
}

/* (min-width:321px) (max-width:360px) */

@media only screen and (max-width: 360px) {

    .fz48,
    .fz45 {
        font-size: 20px;
    }

    .cd-hero-slider h2 {
        font-size: 1.85rem;
    }
}

@media only screen and (max-width: 320px) {


    .ulockd-mailchimp {
        width: 68%;
    }

    .pogoSlider h1,
    .pogoSlider h2,
    .pogoSlider h3,
    .pogoSlider h4 {
        margin-bottom: 0;
        margin-top: 0;
    }

    .cd-full-width {
        padding-top: 75px !important;
    }

    .divider-title .list-inline > li {
        padding-left: 0;
        padding-right: 0;
    }

    .subscribe button {
        margin-left: -33px;
    }

    .carousel-caption.style2 {
        top: 0;
    }

    .btn-ground button.btn {
        margin-bottom: 10px;
    }

    .clock.flip-clock-wrapper {
        margin: -10px !important;
        width: 102%;
    }

    .flip-clock-wrapper ul {
        width: 53px;
    }

    .feature-box img {
        height: 235px;
    }

    .feature-box .overlay {
        padding: 10px;
    }
}

@media only screen and (max-width: 1023px) {
    .navbar-right  {margin-top: 20px;
    }
}



nav.navbar.bootsnav .navbar-toggle i {
    padding: 15px;
    background-color: #054d9a;
}



@media only screen and (max-width: 768px){

    .banner-bg img,.banner-bg-aboutus img{
        max-height: calc(100vh - 62px); width: 100%;
    }
    .contact-info-border-set h5{min-height: 0;}
    .media .media-body .btn_partner{font-size:16px;  padding: 10px 15px; }
    .wrapper section{padding: 50px 0;}
    .cd-full-height h2{margin:0px; font-size: 20px; line-height: 35px;}
    .ulockd_bgi1 .cd-full-height h3{font-size: 15px;}
    a.btn_welcome{padding: 8px 10px; font-size: 12px;}

    .align-setting{margin-top: 0; line-height: 32px;  }
    .inner-conraimer-details .banner-bg-pricing .center-contents-pricing    {
        height:63vh;}

    .cd-full-height h3{font-size: 17px;}
    .S-seting{padding-left: 11px;}
    .welcm-ht-main{display: none;}
    .cd-full-height{bottom: 15px;}





}
@media only screen and (max-width: 567px){
    .cd-full-height h2{ font-size:20px; margin:0px; font-size: 16px; line-height: 30px; }
    .ulockd_bgi1 .cd-full-height h3{font-size: 10px;}
    .owl-controls{display: none;}
    #about .tabcontent .img-container-fluid{width: 100%;}
    .ulockd-about-box {width: 100%;
    }
    .typed_text_bg{line-height: 18px;}
    .typed_text_bg p{line-height: 21px; font-size: 12px;}

    .inner-conraimer-details h1{font-size: 20px; margin-bottom: 0;}
    .inner-conraimer-details .banner-bg-pricing .center-contents-pricing{top:45%;}
    .collection-btn a.btn_welcome{
        padding:8px 10px;
        font-size:12px;}
    .ulockd-main-title h2{padding: 0;}
    .justify{ font-size: 19px;
        padding:0;}

    .collection-btn a.btn_welcome:last-child{margin-right: 0;}

    .cd-full-height{bottom: 15px;}
    .collection-btn{display: none;}
}


@media only screen and (min-width:320px) and (max-width:400px){
    .cd-full-height h2{margin: 0; font-size: 16px; line-height: 20px;}
    .ulockd_bgi1 .cd-full-height h3{font-size: 12px; }
    .collection-btn a.btn_welcome{
        padding: 8px 10px;
        font-size: 12px;}


    .cd-full-height{bottom:15px;}
    }



@media only screen and (min-width: 769px) and (max-width: 991px) {
    .S-seting {
        padding: 0 15px 3px 12px;
    }
}
    @media only screen and (min-width: 320px) and (max-width:437px){
        .inner-conraimer-details .banner-bg-pricing .center-contents-pricing{top:63%;}
    }



    @media only screen and (min-width: 320px) and (max-width: 400px){
        .inner-conraimer-details .banner-bg-pricing .center-contents-pricing{top:55%;}
        .ulockd-main-title h2{font-size: 20px;}
        .inquiry_form_part h2{font-size: 25px;}
        .ulockd_bgi1 .cd-full-height h3{font-size: 10px;}
        .collection-btn{display: none;}
    }